@import '../../styles/settings.scss';
@import '../../styles/tools.scss';

$tileSize: 110px;
$tileSize--small: 180px;
$tileSize--medium: 250px;

.root {
  display: inline-block;
  width: calc((#{$tileSize} * 2) + #{t-spacing(medium)});

  @include t-respond-to-min(small) {
    width: calc((#{$tileSize--small} * 2) + #{t-spacing(medium)});
  }

  @include t-respond-to-min(medium) {
    width: calc((#{$tileSize--medium} * 2) + #{t-spacing(medium)});
  }

  @include t-respond-to-min(large) {
    width: calc((#{$tileSize--medium} * 2) + #{t-spacing(large)});
  }

  @include t-landscape {
    width: auto;
  }

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.item {
  background-color: t-color(grey);
  display: block;
  float: left;
  height: t-rem($tileSize);
  margin-bottom: t-spacing(medium);
  position: relative;
  width: t-rem($tileSize);

  @include t-respond-to-min(small) {
    height: t-rem($tileSize--small);
    width: t-rem($tileSize--small);

    @include t-landscape {
      height: t-rem($tileSize);
      width: t-rem($tileSize);
    }
  }

  @include t-respond-to-min(medium) {
    height: t-rem($tileSize--medium);
    width: t-rem($tileSize--medium);

    @include t-landscape {
      height: t-rem($tileSize);
      width: t-rem($tileSize);
    }
  }

  @include t-respond-to-min(large) {
    height: t-rem($tileSize--medium);
    margin-bottom: t-spacing(large);
    width: t-rem($tileSize--medium);

    @include t-landscape {
      height: t-rem($tileSize--small);
      width: t-rem($tileSize--small);
    }
  }

  @include t-respond-to-min(xlarge) {
    height: t-rem($tileSize--medium);
    width: t-rem($tileSize--medium);
  }

  @include t-portrait {
    &:nth-child(odd) {
      margin-right: t-spacing(medium);
  
      @include t-respond-to-min(large) {
        margin-right: t-spacing(large);
      }
    }
  }

  @include t-landscape {
    &:last-child {
      margin-right: 0;
    }

    margin-right: t-spacing(small);

    @include t-respond-to-min(large) {
      margin-right: t-spacing(medium);
    }
  }
}

.itemLabel {
  bottom: 0;
  color: t-color(white);
  padding-bottom: t-spacing(xsmall);
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 100%;

  @include t-respond-to-min(medium) {
    @include t-portrait {
      font-size: t-font-size(large);
    }
  }

  @include t-respond-to-min(large) {
    font-size: t-font-size(large);
  }
}