@import '../../styles/settings.scss';
@import '../../styles/tools.scss';

.root {
  background-color: t-color(dark-grey);
  height: 100%;
  position: absolute;
  width: 100%;
}

.wrapper {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.content {
  color: t-color(white);
  display: inline-block;
  margin-bottom: t-spacing(medium);
  text-align: left;

  @include t-respond-to-min(large) {
    margin-bottom: t-spacing(large);
  }
}

.heading {
  @include t-respond-to-min(small) {
    font-size: t-font-size(xxlarge);
  }

  @include t-respond-to-min(medium) {
    font-size: t-font-size(huge);
  }
}

.subheading {
  @include t-respond-to-min(medium) {
    font-size: t-font-size(xlarge);
  }
}

.highlight {
  color: t-color(red);
}
