@import '../../styles/settings.scss';
@import '../../styles/tools.scss';

$skillSize: 35px;
$skillSize--large: 50px;
$subtextOffset: -50px;
$highlightWidth: 10px;

.root {
  margin-bottom: t-spacing(large);
}

.skill {
  border-bottom: 1px solid t-color(dark-grey);
  padding: t-spacing(xsmall) 0;
  padding-left: t-spacing(xsmall);
  position: relative;

  &:last-child {
    border-bottom: 0;
  }

  @include t-respond-to-min(medium) {
    &:hover {
      .highlight {
        transform: scaleX(3);
      }

      .subtext {
        opacity: 1;
        transform: translate(0px, -50%);
      }
    }
  }
}

.icon {
  margin-bottom: 0;
  vertical-align: middle;
  width: t-rem($skillSize);

  @include t-respond-to-min(xsmall) {
    width: t-rem($skillSize--large);
  }
}

.name {
  color: t-color(dark-grey);
  cursor: default;
  font-size: t-font-size(medium);
  padding-left: t-spacing(small);
  vertical-align: middle;

  @include t-respond-to-min(xsmall) {
    font-size: 1.2rem;
  }

  @include t-respond-to-min(medium) {
    font-size: t-font-size(large);
  }
}

.subtext {
  cursor: default;
  display: none;
  margin-right: t-spacing(large);
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(#{$subtextOffset}, -50%);
  transition: transform .2s, opacity .2s;

  @include t-respond-to-min(medium) {
    display: block;
  }
}

.highlight {
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: right;
  transition: transform .5s ease;
  width: t-rem($highlightWidth);
}
