$s-start-offset-y: 30px;

.root {
  animation: enter_vertical .5s forwards;
  opacity: 0;
}

@keyframes enter_vertical {
  from {
    opacity: 0;
    transform: translateY(#{$s-start-offset-y});
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
