@import './settings.scss';
@import './tools.scss';

$maxWidth: 1400px;
$cols: 12;
$gutter: 1rem;

.row {
  margin: 0 auto;
  max-width: $maxWidth;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.column {
  float: left;
  padding-left: $gutter;
  padding-right: $gutter;
  width: 100%;

  &:last-child:not(:first-child) {
    float: right;
  }
}

@each $key, $value in $s-breakpoints {
  @include t-respond-to-min($key) {
    @for $i from 1 through $cols {
      .#{$key}-#{$i} {
        width: percentage($i / $cols);
      }
    }
  }
}
