@import '../../styles/settings.scss';
@import '../../styles/tools.scss';

$s-start-offset-x: 100px;

.root {
  color: t-color(dark-grey);
  font-family: 'FiraSans-ExtraLightItalic';
  font-size: t-font-size(xxlarge);
  margin: t-spacing(medium) 0 t-spacing(large);
  text-align: center;

  &.color_orange .textWrapper::after {
    background-color: t-color(orange);
  }

  &.color_pink .textWrapper::after {
    background-color: t-color(pink);
  }

  &.color_black .textWrapper::after {
    background-color: t-color(black);
  }

  @include t-respond-to-min(medium) {
    font-size: t-font-size(super);
    margin: t-spacing(large) 0;
  }
}

.textWrapper {
  position: relative;

  &::after {
    animation: line_enter .3s forwards .5s;
    background-color: t-color(blue);
    bottom: -3px;
    content: '';
    height: 3px;
    left: 0;
    opacity: 0;
    position: absolute;
    transform: translateX(-#{t-rem($s-start-offset-x)});
    width: 100%;
  }
}

@keyframes line_enter {
  from {
    opacity: 0;
    transform: translateX(-#{t-rem($s-start-offset-x)});
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
