$s-colors: (
  blue: #58C1DD,
  orange: #FC9728,
  pink: #FC2896,
  xlight-grey: #fcfcfc,
  light-grey: #f7f7f7,
  grey: #e0e0e0,
  medium-grey: #808080,
  dark-grey: #1f1f1f,
  white: #fff,
  black: #000,
);
