@font-face {
  font-family: 'FiraSans-ExtraLight';
  src: url('/fonts/FiraSans-ExtraLight.ttf');
}

@font-face {
  font-family: 'FiraSans-ExtraLightItalic';
  src: url('/fonts/FiraSans-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'FiraSans-Regular';
  src: url('/fonts/FiraSans-Regular.ttf');
}
